*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  color: #393939;
}

.navigation {
  background-color: #FFF0ED;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
.navigation__container {
  display: flex;
  align-items: center;
}
.navigation__link {
  text-decoration: none;
  list-style: none;
  color: #393939;
  display: flex;
}
.navigation__link--selected {
  color: #5BACC3;
}
.navigation__image {
  width: 3rem;
  margin-left: 1em;
}
.navigation__title {
  font-size: 2rem;
  font-weight: 300;
}
.navigation__list {
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
}
.navigation__item {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  padding: 0 0.75em;
}

.button, .button__border {
  width: 11em;
  height: 3em;
  position: absolute;
}
.button__border {
  border: solid 2px #393939;
  top: -5px;
  left: -5px;
}
.button__border:active {
  top: 0;
  left: 0;
}
.button__link {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  width: 11em;
  height: 3em;
  background-color: #5BACC3;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__text {
  padding: auto 0;
}

.about {
  background-color: #FFF0ED;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__card {
  width: 30%;
  margin-bottom: 2em;
}
.about__title {
  font-size: 4rem;
  font-weight: 300;
}
.about__text {
  width: 80%;
  padding: 1.5em 0;
}

.product {
  padding-top: 1em;
  background-color: #F7F7F7;
  padding: 2em 0 4em 0;
}
.product__heading {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.product__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4em;
}
.product-card {
  width: 20em;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}
.product-card__container {
  background-color: #FFF0ED;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3em 0;
}
.product-card__container--white {
  background-color: #FFFFFF;
}
.product-card__image {
  height: 35vh;
}
.product-card__title {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.product-card__description {
  color: #909090;
  margin: 0;
}
.product-card__price {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #5BACC3;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

.learn {
  width: 90%;
  margin: 7em auto 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  display: flex;
}
.learn__card--text {
  width: 440px;
  align-self: flex-start;
}
.learn__title {
  font-size: 4rem;
  font-weight: 300;
}
.learn__text {
  font-size: 1rem;
  font-weight: 400;
}
.learn-icon-container {
  display: flex;
  justify-content: space-between;
}
.learn__icon {
  width: 3rem;
  margin-top: 1em;
  margin-bottom: 3em;
}
.learn-right {
  position: relative;
}
.learn__border {
  width: 400px;
  height: 400px;
  position: absolute;
  border: 5px solid #5BACC3;
  position: absolute;
  top: -20px;
  right: 20px;
}
.learn__card--image {
  background-image: url("../../assets/images/coldbrewbackground.png");
  width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn__image {
  height: 60%;
}
.learn-right:hover .learn__image {
  -webkit-animation: rotation 2s infinite linear;
          animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.discount {
  padding: 2em 0 6em 0;
  background-color: #FFFFFF;
}
.discount__text {
  font-size: 3rem;
  font-weight: 400;
  max-width: 90%;
  background-color: #393939;
  padding: 1em;
  margin: 2em auto;
  color: #FFFFFF;
  -webkit-animation: background-color 2.5s linear infinite;
          animation: background-color 2.5s linear infinite;
}
.discount__text--bold {
  font-size: 3rem;
  font-weight: 700;
}
@-webkit-keyframes background-color {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5BACC3;
  }
  100% {
    background-color: #393939;
  }
}
@keyframes background-color {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5BACC3;
  }
  100% {
    background-color: #393939;
  }
}

.footer {
  padding: 3em 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #FFF0ED;
}
.footer__background-icon {
  background-image: url(../assets/images/coffee-beans.svg);
  height: 100px;
  width: 100px;
  opacity: 25%;
  position: absolute;
}
.footer__background-icon--left {
  left: -2em;
}
.footer__background-icon--right {
  right: -2em;
}
.footer__card {
  width: 20%;
}
.footer__title {
  font-size: 2rem;
  font-weight: 300;
}
.footer__text {
  margin: 0;
}
.footer__text--bold {
  font-size: 1rem;
  font-weight: 700;
}
.footer__image {
  width: 3rem;
}
.footer__link {
  text-decoration: none;
  list-style: none;
}/*# sourceMappingURL=landing.css.map */