/* colors */
/*font*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  background-color: #FFFFFF;
  color: #393939;
}

.navigation__link {
  color: #393939;
}

.navigation__link--selected {
  color: #5BACC3;
}

.navigation__title,
.footer-card__title {
  font-size: 2rem;
  font-weight: 300;
}

.navigation__list {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.navigation__item,
.about__text,
.footer-card__text,
.menu-item__description {
  font-size: 1rem;
  font-weight: 400;
}

.navigation__link,
.navigation__item {
  text-decoration: none;
}

.navigation,
.navigation__container,
.navigation__link,
.navigation__list {
  display: flex;
}

.navigation {
  padding: 1em;
  justify-content: space-between;
}

.navigation__container {
  align-items: center;
}

.navigation__image {
  margin-left: 1em;
}

.navigation__item {
  padding: 0 0.75em;
}

.navigation__image {
  width: 3rem;
}

.navigation,
.about-container,
.product-card__container,
.footer {
  background-color: #FFF0ED;
}

.about-card__button,
.product-card__button,
.learn__button,
.discount__text {
  color: #FFFFFF;
}

.product-card__price,
.menu-card__price {
  color: #5BACC3;
}

.section-heading,
.learn__title,
.about-card__title {
  font-size: 4rem;
  font-weight: 300;
}

.product-card__title,
.product-card__price {
  font-size: 2rem;
  font-weight: 300;
}

.about-container,
.about-card {
  width: 100%;
}

.about-container,
.product-container,
.product-card__container,
.learn-section,
.learn__icon-container,
.learn-card--image,
.footer {
  display: flex;
}

.about-container {
  justify-content: center;
  align-items: center;
}

.about-card {
  margin-bottom: 2em;
}

.about-card--text {
  margin-left: 6em;
}

.about-card__text {
  width: 75%;
  padding: 1em 0;
  margin-bottom: 1em;
}

.about-card__image {
  height: 60vh;
  padding-left: 30%;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
  height: 3em;
  width: 11em;
}

.button__border {
  border: solid 2px #393939;
  height: 3em;
  width: 11em;
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}

.about-card__button,
.product-card__button,
.learn__button {
  text-transform: uppercase;
  background-color: #5BACC3;
  text-decoration: none;
  display: inline-block;
  width: 11em;
  height: 3em;
}

.about-card__button,
.product-card__button,
.learn__button,
.section-heading,
.product-card__title,
.product-card__price {
  text-align: center;
}

.product-card__link {
  position: absolute;
  right: 0px;
}

.product-section {
  padding: 2em 0 4em 0;
}

.product-section {
  padding-top: 1em;
  background-color: #F7F7F7;
}

.product-container {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4em;
}

.product-card {
  width: 20em;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}

.product-card__container {
  align-items: center;
  justify-content: space-around;
  padding: 3em 0;
}

.product-card__image {
  height: 35vh;
}

.product-card__title {
  margin: 0;
}

.product-card__description {
  color: #909090;
  margin: 0;
}

.product-card__button {
  margin-left: 7rem;
}

.learn-section {
  width: 90%;
  margin: 7em auto 0 auto;
  align-items: center;
  justify-content: space-between;
}

.product-card,
.product-card__container--white,
.discount,
.learn-section {
  background-color: #FFFFFF;
}

.learn-card--image {
  width: 400px;
  height: 400px;
}

.learn-card--text {
  width: 440px;
  align-self: flex-start;
}

.learn__icon-container {
  justify-content: space-between;
}

.learn__icon {
  width: 3rem;
  margin-top: 1em;
  margin-bottom: 3em;
}

.learn-right {
  position: relative;
}

.learn-border {
  width: 400px;
  height: 400px;
  position: absolute;
  border: 5px solid #5BACC3;
  position: absolute;
  top: -20px;
  right: 20px;
}

.learn-card--image {
  background-image: url(../assets/images/coldbrewbackground.png);
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.learn__image {
  height: 17em;
}

.discount {
  padding: 2em 0 6em 0;
}

.discount__text {
  font-size: 3rem;
  max-width: 90%;
  background-color: #393939;
  padding: 1em;
  margin: 2em auto;
}

.footer {
  padding: 3em 0;
  justify-content: space-evenly;
}

.footer-card {
  width: 20%;
}

.footer-card__text {
  margin: 0;
}

.footer-card__image {
  width: 3rem;
}

.footer__link {
  text-decoration: none;
}/*# sourceMappingURL=landing.css.map */