@use "partials/global" as *;
@use "partials/colors" as *;
@use "partials/fonts" as *;
@use "partials/buttons" as *;




.about {
    background-color: $nitro-pink;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__card {
        width: 25%;
        margin-bottom: 2em;
    }

    &__title {
        @include heading;
    }

}

.product {
    padding-top: 1em;
    background-color: $light-gray;
    padding: 2em 0 4em 0;

    &__heading {
        @include heading;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 4em;
    }

    &-card {
        width: 20em;
        border-radius: 10px;
        box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
        background-color: $white;

        &__container {
            background-color: $nitro-pink;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 3em 0;
        }

        &__container--white {
            background-color: $white;
        }

        &__image {
            height: 35vh;
        }

        &__title {
            @include subheading;
            text-align: center;
            margin: 0;
        }

        &__description {
            color: $gray;
            margin: 0;
        }

        &__price {
            @include subheading;
            text-align: center;
            color: $nitro-blue;
        }

    }
}

.learn {
    width: 90%;
    margin: 7em auto 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    display: flex;

    &__card--text {
        width: 440px;
        align-self: flex-start;
    }

    &__title {
        @include heading;
    }

    &__text {
        @include paragraph;
    }


    &-icon-container {
        display: flex;
        justify-content: space-between;
    }

    &__icon {
        width: 3rem;
        margin-top: 1em;
        margin-bottom: 3em;
    }

    &-right {
        position: relative;
    }

    &__border {
        width: 400px;
        height: 400px;
        position: absolute;
        border: 5px solid $nitro-blue;
        position: absolute;
        top: -20px;
        right: 20px;
    }

    &__card--image {
        background-image: url("../../assets/images/coldbrewbackground.png");
        width: 400px;
        height: 400px;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        height: 60%;
    }

    &-right:hover {
        .learn__image {
            animation: rotation 2s infinite linear;
        }

    }

    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(359deg);
        }
    }

}



.discount {
    padding: 2em 0 6em 0;
    background-color: $white;

    &__text {
        @include discount-text;
        max-width: 90%;
        background-color: $graphite;
        padding: 1em;
        margin: 2em auto;
        color: $white;
        animation: background-color 2.5s linear infinite;
    }

    &__text--bold {
        @include discount-text-bold;

    }

    @keyframes background-color {
        0% {
            background-color: $graphite;
        }

        50% {
            background-color: $nitro-blue;
        }

        100% {
            background-color: $graphite;
        }
    }
}


.footer {
    padding: 3em 0;
    display: flex;
    justify-content: space-evenly;
    background-color: $nitro-pink;

    &__background-icon {
        background-image: url(../assets/images/coffee-beans.svg);
        height: 100px;
        width: 100px;
        opacity: 25%;
        position: absolute;
    }

    &__background-icon--left {
        left: -2em;

    }


    &__background-icon--right {
        right: -2em;
    }

    &__card {
        width: 20%;
    }

    &__title {
        @include subheading;
    }

    &__text {
        margin: 0;
    }

    &__text--bold {
        @include paragraph-bold;
    }

    &__image {
        width: 3rem;
    }

    &__link {
        @include link-style;
    }
}