@use "colors" as *;
@use "fonts" as *;

.button {
    width: 11em;
    height: 3em;
    position: absolute;

    &__border {
        border: solid 2px $graphite;
        @extend .button;
        top: -5px;
        left: -5px;
    }

    &__border:active {
        top: 0;
        left: 0;
    }

    &__link {
        @include link-style;
        text-transform: uppercase;
        width: 11em;
        height: 3em;
        background-color: $nitro-blue;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__text {
        padding: auto 0;
    }

}