@use "colors" as *;
@use "fonts" as *;

.button {
    width: 11em;
    height: 3em;
    position: absolute;

    &__border {
        border: solid 2px $graphite;
        @extend .button;
        top: -5px;
        left: -5px;
    }

    &__link {
        @include link-style;
        text-transform: uppercase;
        width: 11em;
        height: 3em;
        background-color: $nitro-blue;
        color: $white;
        display: block;
    }

    &__text {
        width: 11em;
        height: 3em;
    }

}


// .button {
//     @include
//     position: relative;
//     height: 3em;
//     width: 11em;

//     &__border {
//         border: solid 2px $graphite;
//         height: 3em;
//         width: 11em;
//         position: absolute;
//         bottom: 5px;
//         right: 5px;
//         z-index: 1;
//     }

//     &__link {
//         @include link-style;
//     }

//     &__text {
//         @include link;
//         color: $white;
//         text-transform: uppercase;
//         background-color: $nitro-blue;
//         text-decoration: none;
//         display: inline-block;
//     }
// }