$font-stack: 'Open Sans';

@mixin heading {
    font-size: 4rem;
    font-weight: 300;
}

@mixin subheading {
    font-size: 2rem;
    font-weight: 300;
}

@mixin link {
    font-size: 1.5rem;
    font-weight: 400;

}

@mixin paragraph-italic {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
}

@mixin paragraph {
    font-size: 1rem;
    font-weight: 400;
}

@mixin paragraph-bold {
    font-size: 1rem;
    font-weight: 700;
}

@mixin discount-text {
    font-size: 3rem;
    font-weight: 400;
}

@mixin discount-text-bold {
    font-size: 3rem;
    font-weight: 700;
}


@mixin link-style {
    text-decoration: none;
    list-style: none;
}