@use "colors" as *;
@use "fonts" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    width: 100%;
    color: $graphite;


}

.navigation {
    background-color: $nitro-pink;
    display: flex;
    padding: 1em;
    justify-content: space-between;

    &__container {
        display: flex;
        align-items: center;
    }

    &__link {
        @include link-style;
        color: $graphite;
        display: flex;
    }

    &__link--selected {
        color: $nitro-blue;
    }

    &__image {
        width: 3rem;
        margin-left: 1em;
    }

    &__title {
        @include subheading;
    }

    &__list {
        @include link;
        display: flex;
    }

    &__item {
        @include paragraph;
        @include link-style;
        padding: 0 0.75em;
    }
}